.link-icons{
    text-decoration: none !important;
    color: #3B71A3;
    transition: 0.6s;
}
.link{
    text-decoration: none !important;
    color: #3B71A3;
    transition: 0.6s;
    font-size: 20px;
    text-decoration: none;
}
.link-href{
    text-decoration: none !important;
    color: black;
    transition: 0.6s;
    text-decoration: none;
}
.link:hover{
    padding-right:15px;
    color:#3B71A3 !important;
}
.footer{
  width: 100%;
  height: 30%;
}
.font-white{
  color:white;
}
.link-icons i{
    font-size: 30px;
}
.link-icons:hover{
    color:black;
}
.img{
    width:75px;
    height:75px;
    border-radius:50%;
}
.img-profile{
    width:200px;
    height:200px;
    /* border-radius:50%; */
    position: absolute;
    margin-top: 30%;
    border-radius: 8px;
}
.setMargin{
    margin-top:70px;
    margin-bottom:70px;
    margin-left:50px;
}
@media (max-width:767.98px){
    .img-profile{
        width:200px;
        height:200px;
        /* border-radius:50%; */
        position:static;
        margin-top: 0;
        margin-left: 0;
    }
    .setMargin-container{
        margin-bottom: 40px;
    }
}
.bgCyan{
    background-color: #3be2f0;
}

@media (max-width:575.98px){
    .img-profile{
        width:200px;
        height:200px;
        border-radius:50%;
        /* position: absolute; */
        margin-top: 10%;
        margin-left: 0px;
    }
    .setMargin-container{
        margin-bottom: 40px;
    }
    .bgCyan{
        background-color:white;
    }
    .setMargin{
        margin-top:0px;
        margin-bottom:70px;
        margin-left:0px;
        text-align: center;
    }
}

.shadow-effect{
    box-shadow:  0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 9px 20px 0 rgba(116, 113, 113, 0.19) ;
}
.font-sans-pro{
    font-family: 'Source Sans Pro', sans-serif;
}
.font-fira-sans{
    font-family: 'Fira Sans', sans-serif;
}
.padding-75{
    padding: 30px;
}
.padding-7-persen{
    padding: 7%;
}
.bg-grey{
    background-color: #f5f5f5;
}